<ion-view view-title="{{currentTrip}}">
  <ion-content>
    <img class="full-image" src="/img/nomad.jpg">

    <a href="#/app/trips/{{currentTrip}}/spots">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Spots</h1>
        <i class="icon ion-location"></i>
      </div>
    </div>
    </a>
    <a href="#/app/trips/{{currentTrip}}/info">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Info</h1>
        <i class="icon ion-map"></i>
      </div>
    </div>
    </a>
    <a href="#/app/trips/{{currentTrip}}/fav-spots">
    <div class="card cur-trp-links">
      <div class="item item-text-wrap">
        <h1>Favorite Spots</h1>
        <i class="icon ion-flag"></i>
      </div>
    </div>
    </a>

  </ion-content>
</ion-view>
