<ion-view view-title="Days">
  <ion-content>
    <h1>{{currentCity}}</h1>

    <div class="card" ng-repeat="(k, v) in destinations">
      <div class="item item-text-wrap">
        <h3>Day {{k}}</h3>
        <ul class="list">
          <li class="item">{{destinations}} to {{v.destination}} - {{v.destTime}}</li>
          <li class="item">{{v.travelTime}} to {{v.destination}} - {{v.destTime}}</li>
          <li class="item">{{v.travelTime}} to {{v.destination}} - {{v.destTime}}</li>
        </ul>

      </div>
    </div>

  </ion-content>
</ion-view>
