<ion-view view-title="Create A Day">
  <ion-content>

    <button class="button button-block button-energized" ng-click"goToDay()">
      See Your Day
    </button>

    <form class="list" name="create-a-day" ng-submit="createForm()">
      <label class="item item-input">
        <input ng-model="day.city"type="text" placeholder="City">
      </label>
      <label class="item item-input">
        <input ng-model="day.destination"type="text" placeholder="Destination">
      </label>
      <label class="item item-input">
        <input ng-model="day.travelTime"type="text" placeholder="Travel time">
      </label>
      <label class="item item-input">
        <input ng-model="day.destTime"type="text" placeholder="Time spent">
      </label>
      <button class="button button-block button-energized"> Add </button>
    </form>

  </ion-content>
</ion-view>
