<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Log In</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="loginData.email" placeholder="Email" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password" ng-minlength="6" placeholder="Password" required>
          </label>

        <label class="item">
          <button class="button button-block button-energized" type="submit">Log In</button>
        </label>
      </div>

    </form>
    <button class="button button-block button-energized" ng-click="registerModal()">Register</button>
  </ion-content>
</ion-modal-view>
