<ion-view view-title="Frontend Capstone">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
      <button class="button button-block button-energized">
        Block Button
      </button>
    </div>
  </ion-content>
</ion-view>
